In [23]:
# importing dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json

In [24]:
#creating query url

query_url = "https://services.arcgis.com/v400IkDOw1ad7Yad/arcgis/rest/services/Daily_Police_Incidents/FeatureServer/0/query?where=1%3D1&outFields=reported_block_address,latitude,longitude,city,crime_category,crime_description&outSR=4326&f=json"

# creating and jsonifying response

response = requests.get(query_url)
response_json = response.json()
#print(json.dumps(response_json, indent=4, sort_keys=True))

In [25]:
#creating empty lists for storing response data

lat = []
lng = []
crime = []
crime_descr = []

#determining length of responses

number_of_entries = len(response_json['features'])

#building for loop to populate lists

for x in range(0, number_of_entries):
    

        lat.append(response_json['features'][x]['attributes']['latitude'])
        lng.append(response_json['features'][x]['attributes']['longitude'])
        crime.append(response_json['features'][x]['attributes']['crime_category'])
        crime_descr.append(response_json['features'][x]['attributes']['crime_description'])


#cleaning dataframe

offense_df = pd.DataFrame(list(zip(lat, lng, crime, crime_descr)), columns=['lat','lng', 'crime', 'crime_description'])
new_offense_df = offense_df.dropna()
crime_df = new_offense_df.reset_index()
del crime_df['index']
crime_df.head()

,lat,lng,crime,crime_description
0,35.766000,-78.637215,ALL OTHER OFFENSES,All Other/All Other Offenses
1,35.808494,-78.553287,ASSAULT,Assault/Simple
2,35.776299,-78.620725,WEAPONS VIOLATION,Weapons/Shots Fired
3,35.838022,-78.713688,TRAFFIC,Traffic/DWI (Driving While Impaired)
4,35.843105,-78.592891,WEAPONS VIOLATION,Weapons/Shots Fired

In [26]:
import sqlite3
import psycopg2
from sqlalchemy import create_engine

engine = create_engine('postgres://onmtvcaenewtsa:3e19a8202f1bb4493b27c235aa13f7cf9131c76aef0ccdcca291457518007864@ec2-174-129-226-232.compute-1.amazonaws.com:5432/dfl7he1lroc56p')
crime_df.to_sql('crime', engine, index=False, if_exists='append')

In [12]:
crime_df.to_csv('raw/Cleaned_Crime_Data.csv', index=False, header=None)

In [28]:
engine.table_names()

['parks', 'dogparks', 'colleges', 'crime']

In [7]:
#crime_df.to_sql(name='crimes', con=engine, if_exists='append', index=False)

In [29]:
pd.read_sql_query('select * from crime', con=engine).head()

,lat,lng,crime,crime_description
0,35.766000,-78.637215,ALL OTHER OFFENSES,All Other/All Other Offenses
1,35.808494,-78.553287,ASSAULT,Assault/Simple
2,35.776299,-78.620725,WEAPONS VIOLATION,Weapons/Shots Fired
3,35.838022,-78.713688,TRAFFIC,Traffic/DWI (Driving While Impaired)
4,35.843105,-78.592891,WEAPONS VIOLATION,Weapons/Shots Fired