In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

In [2]:
#import csv

df = pd.read_csv("raw/Restaurants_in_Wake_County.csv")
df
#data cleaning with street matching api format needed pull lat long 
#drog unnecessary address

,OBJECTID,HSISID,NAME,ADDRESS1,ADDRESS2,CITY,STATE,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,FACILITYTYPE,PERMITID,X,Y,GEOCODESTATUS
0,3001,4092030397,Tacos Mama Chava #2 (WCID #686),7200 Sandy Forks RD,NaN,RALEIGH,NaN,27615,NaN,2019-02-27T00:00:00.000Z,Mobile Food Units,13232,-78.622899,35.871991,M
1,3002,4092014599,Poppy Seed Market,8801-107 Lead Mine RD,NaN,NaN,NaN,27615,(919) 870-8997,2006-05-31T00:00:00.000Z,Restaurant,11381,-78.657992,35.904843,M
2,3003,4092013938,Quiznos Sub # 91,6605 Falls Of Neuse Rd,NaN,RALEIGH,NaN,27615,(919) 676-1909,2003-11-13T00:00:00.000Z,Restaurant,16868,-78.624449,35.873968,M
3,3004,4092030249,RED HOT & BLUE (WCID #474),6615 FALLS OF NEUSE RD,NaN,RALEIGH,NaN,27615,(919) 846-7427,2013-05-07T00:00:00.000Z,Mobile Food Units,16388,-78.624449,35.873968,M
4,3005,4092160066,THE CYPRESS OF RALEIGH KITCHEN,8710 CYPRESS CLUB DR,NaN,RALEIGH,NaN,27615,(919) 870-9007,2008-06-20T00:00:00.000Z,Institutional Food Service,19954,-78.660564,35.900140,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,2996,4092030371,Spanglish (WCID #644),8320 Litchford RD,Unit #108,RALEIGH,NaN,27615,(252) 327-2445,2018-08-28T00:00:00.000Z,Mobile Food Units,11819,-78.599882,35.892238,M
3598,2997,4092030339,THE COW AND THE OAK (WCID # 535),8320-108 Litchford RD,NaN,NaN,NaN,27615,(252) 327-2445,2017-06-26T00:00:00.000Z,Mobile Food Units,8405,-78.601010,35.893114,M
3599,2998,4092017745,FARINA NEIGHBORHOOD ITALIAN,8450 HONEYCUTT RD,B-100,RALEIGH,NaN,27615,(919) 890-0143,2017-11-29T00:00:00.000Z,Restaurant,10487,-78.621661,35.895106,M
3600,2999,4092014039,Subway #12050,8711 Six Forks Rd,NaN,RALEIGH,NaN,27615,(919) 676-2610,2004-05-05T00:00:00.000Z,Restaurant,2333,-78.654611,35.899327,M
3601,3000,4092040325,WICKED LINKS #1 (WCID #493),4601 CAPITAL BLVD,NaN,RALEIGH,NaN,27615,(919) 855-8548,2014-08-16T00:00:00.000Z,Pushcarts,5400,-78.581764,35.846057,M

In [3]:
df1 = df.fillna('NC')

In [4]:
df1

,OBJECTID,HSISID,NAME,ADDRESS1,ADDRESS2,CITY,STATE,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,FACILITYTYPE,PERMITID,X,Y,GEOCODESTATUS
0,3001,4092030397,Tacos Mama Chava #2 (WCID #686),7200 Sandy Forks RD,NC,RALEIGH,NC,27615,NC,2019-02-27T00:00:00.000Z,Mobile Food Units,13232,-78.622899,35.871991,M
1,3002,4092014599,Poppy Seed Market,8801-107 Lead Mine RD,NC,NC,NC,27615,(919) 870-8997,2006-05-31T00:00:00.000Z,Restaurant,11381,-78.657992,35.904843,M
2,3003,4092013938,Quiznos Sub # 91,6605 Falls Of Neuse Rd,NC,RALEIGH,NC,27615,(919) 676-1909,2003-11-13T00:00:00.000Z,Restaurant,16868,-78.624449,35.873968,M
3,3004,4092030249,RED HOT & BLUE (WCID #474),6615 FALLS OF NEUSE RD,NC,RALEIGH,NC,27615,(919) 846-7427,2013-05-07T00:00:00.000Z,Mobile Food Units,16388,-78.624449,35.873968,M
4,3005,4092160066,THE CYPRESS OF RALEIGH KITCHEN,8710 CYPRESS CLUB DR,NC,RALEIGH,NC,27615,(919) 870-9007,2008-06-20T00:00:00.000Z,Institutional Food Service,19954,-78.660564,35.900140,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,2996,4092030371,Spanglish (WCID #644),8320 Litchford RD,Unit #108,RALEIGH,NC,27615,(252) 327-2445,2018-08-28T00:00:00.000Z,Mobile Food Units,11819,-78.599882,35.892238,M
3598,2997,4092030339,THE COW AND THE OAK (WCID # 535),8320-108 Litchford RD,NC,NC,NC,27615,(252) 327-2445,2017-06-26T00:00:00.000Z,Mobile Food Units,8405,-78.601010,35.893114,M
3599,2998,4092017745,FARINA NEIGHBORHOOD ITALIAN,8450 HONEYCUTT RD,B-100,RALEIGH,NC,27615,(919) 890-0143,2017-11-29T00:00:00.000Z,Restaurant,10487,-78.621661,35.895106,M
3600,2999,4092014039,Subway #12050,8711 Six Forks Rd,NC,RALEIGH,NC,27615,(919) 676-2610,2004-05-05T00:00:00.000Z,Restaurant,2333,-78.654611,35.899327,M
3601,3000,4092040325,WICKED LINKS #1 (WCID #493),4601 CAPITAL BLVD,NC,RALEIGH,NC,27615,(919) 855-8548,2014-08-16T00:00:00.000Z,Pushcarts,5400,-78.581764,35.846057,M

In [5]:
new_df = df1.rename(columns={"NAME": "name", "ADDRESS1": "address", "CITY": "city", "STATE": "state", "X": "lat", "Y": "lng"})
new_df = new_df[["name", "address", "city", "state", "lat", "lng"]]
new_df

,name,address,city,state,lat,lng
0,Tacos Mama Chava #2 (WCID #686),7200 Sandy Forks RD,RALEIGH,NC,-78.622899,35.871991
1,Poppy Seed Market,8801-107 Lead Mine RD,NC,NC,-78.657992,35.904843
2,Quiznos Sub # 91,6605 Falls Of Neuse Rd,RALEIGH,NC,-78.624449,35.873968
3,RED HOT & BLUE (WCID #474),6615 FALLS OF NEUSE RD,RALEIGH,NC,-78.624449,35.873968
4,THE CYPRESS OF RALEIGH KITCHEN,8710 CYPRESS CLUB DR,RALEIGH,NC,-78.660564,35.900140
...,...,...,...,...,...,...
3597,Spanglish (WCID #644),8320 Litchford RD,RALEIGH,NC,-78.599882,35.892238
3598,THE COW AND THE OAK (WCID # 535),8320-108 Litchford RD,NC,NC,-78.601010,35.893114
3599,FARINA NEIGHBORHOOD ITALIAN,8450 HONEYCUTT RD,RALEIGH,NC,-78.621661,35.895106
3600,Subway #12050,8711 Six Forks Rd,RALEIGH,NC,-78.654611,35.899327
3601,WICKED LINKS #1 (WCID #493),4601 CAPITAL BLVD,RALEIGH,NC,-78.581764,35.846057

In [6]:
import sqlite3
import psycopg2
from sqlalchemy import create_engine

engine = create_engine("postgres://onmtvcaenewtsa:3e19a8202f1bb4493b27c235aa13f7cf9131c76aef0ccdcca291457518007864@ec2-174-129-226-232.compute-1.amazonaws.com:5432/dfl7he1lroc56p")
new_df.to_sql('wakefood', engine, index=True, if_exists='append')

In [7]:
pd.read_sql_query('select * from wakefood', con=engine).head()

,index,name,address,city,state,lat,lng
0,0,Tacos Mama Chava #2 (WCID #686),7200 Sandy Forks RD,RALEIGH,NC,-78.622899,35.871991
1,1,Poppy Seed Market,8801-107 Lead Mine RD,NC,NC,-78.657992,35.904843
2,2,Quiznos Sub # 91,6605 Falls Of Neuse Rd,RALEIGH,NC,-78.624449,35.873968
3,3,RED HOT & BLUE (WCID #474),6615 FALLS OF NEUSE RD,RALEIGH,NC,-78.624449,35.873968
4,4,THE CYPRESS OF RALEIGH KITCHEN,8710 CYPRESS CLUB DR,RALEIGH,NC,-78.660564,35.900140